/* Global */
body {
  overflow-y: scroll;
  color: #222c37;
}

a {
  text-decoration: none;
}

/* Header */
.header {
  height: 60px;
  border-bottom: 1px solid #dee2e6;
  margin-bottom: 48px;
}

.header .header__container {
  display: flex;
  height: inherit;
  align-items: center;
}

.header .header__logo {
  font-size: 1.35rem;
}

.header .header__nav {
  margin-left: auto;
}

.header .header__nav nav a {
  font-weight: bold;
  display: inline-flex;
  padding: 6px 12px;
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 0.5px;
}

/* Selection */
.selection {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.selection .selection__form {
  display: flex;
}

.selection .selection__colors {
  display: flex;
  border-top: 1px solid #dee2e6;
  border-bottom: 1px solid #dee2e6;
  border-left: 1px solid #dee2e6;
}

.selection .selection__colors div {
  flex-grow: 1;
  flex-basis: 0;
  text-align: center;
}

.selection .selection_control {
  border-left: 1px solid #dee2e6;
  border-right: 1px solid #dee2e6;
  border-bottom: 1px solid #dee2e6;
  display: flex;
}

.selection .selection_control div {
  margin-left: auto;
}

.selection .selection_control div a {
  display: inline-flex;
  padding: 12px;
  font-weight: bold;
}

/* sample section */
.sample .sample__inner {
  padding: 48px;
}

.sample .sample__inner div {
  background-color: #fafafa;
  border: 1px solid #dee2e6;
  height: 450px;
  padding: 24px;
}

/* footer section */
.footer {
  padding-top: 4rem;
  padding-bottom: 4rem;
  border-top: 1px solid #dee2e6;
}

.footer .footer__logo {
  font-size: 1.35rem;
  margin-bottom: 12px;
}

.footer .footer__copy {
  opacity: 0.7;
  font-size: 0.9rem;
}

/* To be edit */
.color-picker {
  height: 48px;
  width: 48px;
  border: none;
  background-color: #dee2e6;
  margin-left: 12px;
}
